@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
/* footer, */
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  /* font-family: "Open Sans", sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ol,
/* ul {
  list-style: none;
} */
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  background: rgb(239, 239, 246);
  width: 500px;
  margin: 0 auto;
  /* margin-top: 50px; */
}
table td,
table th {
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
  padding-left: 5px;
  /* Other styles... */
}
a {
  color: #3913b8;
  font-weight: 600;
  text-decoration: none;
}

thead tr {
  height: 40px;
  background: #a294cf;
}

thead tr th {
  font-size: 14px;
  color: #120f0f;
  line-height: 2.5;
  /* font-weight: 200; */
  text-align: center;
}

/* tbody {
  font-family: "Ariel";
} */

tbody tr {
  font-size: 14px;
  color: #020202;
  line-height: 2;
  font-weight: 500;
}

tbody tr td:nth-child(1) {
  background-color: #fde4cf; /* Color for column 1 */
}

tbody tr td:nth-child(2) {
  background-color: #f7d8a8; /* Color for column 2 */
}

tbody tr td:nth-child(3) {
  background-color: #f2eccb; /* Color for column 3 */
}

tbody tr td:nth-child(4) {
  background-color: #e6e6d8; /* Color for column 4 */
}

tbody tr td:nth-child(5) {
  background-color: #d1e7f3; /* Color for column 5 */
}

tbody tr td:nth-child(6) {
  background-color: #b6d0ea; /* Color for column 6 */
}
